<%= stylesheet_link_tag "edit_theatre"%>

<h1  style= "margin-bottom: 15px">Editing Theatres</h1>

<%= render "form", theatre: @theatre %>

<br>

<div class = "first">
  
  <%=  link_to "Show this theatre", @theatre, class: 'btn btn-primary' %> 
  </div>
  <div class = "second">
  <%=  link_to "Back to theatres", theatre_path, class: 'btn btn-primary'%>
</div>

