
<%= stylesheet_link_tag "search"%>

<h1>Search Results</h1>
<% if @movies.any? %>
  <ul>
    
    <% @movies.each do |movie| %>
      <li>
        <strong><%= @movies.shows.show_time.strftime("%B %d, %Y")  %></strong><br>
        <%= @movies.shows.show_time.strftime(" %I:%M %p")  %>
        <%= @movies.shows.available_seates %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No movies found matching your search criteria.</p>
<% end %>
