<%= stylesheet_link_tag "footer"%>

 <section id="footer", class="footer">
       <div class="text"><b>List your Show</b>
       Got a show, event, activity or a great experience? Partner with us & get listed on BookMyShow
       </div>
      <div class="footer-row">
      <%= image_tag("logo_footer.svg")%>
        <div class="footer-col">
          <h4>Info</h4>
          <ul class="links">
            <li><a href="#">UPCOMING & NOWSHOWING COMEDY MOVIES</a></li>
            <li><a href="#">COUNTRIES</a></li>
            <li><a href="#">Indonesia|Singapore|UAE|Sri Lanka|West Indies</a></li><br>
            <li><a href="#">HELP</a></li>
            <li><a href="#">About Us|Contact Us|Current Opening|Press Release|Press Coverage|Sitemap|FAQs|Terms and Conditions|Privacy Policy</a></li><br>
            <li><a href="#">BOOKMYSHOW EXCLUSIVES</a></li>
            <li><a href="#">Lollapalooza|IndiaSuperstar|BookASmile|Corporate Vouchers|Gift Cards|List |My Show|Offers|Stream|Movie Trailers|Summer Activities</a></li><br>
        </div>
        <div class="footer-col">
          <h4>Explore</h4>
          <ul class="links">
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
            <li><a href="#">Themes</a></li>
            <li><a href="#">Popular movies</a></li>
            <li><a href="#"></a></li>
            <li><a href="#">New streams</a></li>
          </ul>
        </div>
      
        <div class="footer-col">
          <h4>BookMyShow</h4>
          <p>
           contact today!
          </p>
          <form action="#">
            <input type="text" placeholder="Your email" required>
            <button type="submit">SUBSCRIBE</button>
          </form>
          <div class="icons">
            <i class="fa-brands fa-facebook-f"></i>
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-linkedin"></i>
            <i class="fa-brands fa-github"></i>
          </div>
        </div>
      </div>
    </section>