<%= stylesheet_link_tag "new_theatre"%>

<h1 style= "margin-bottom: 15px">New Show</h1>

<%= render "form", show: @show %>
<div>
  <%= link_to "Back to show", shows_path, class: 'btn btn-primary' %>
</div>
